:root,
:root.light {
  --ff-heading: "Rubik", sans-serif;
  --ff-text: "Roboto Sans", sans-serif;
  --fw-heading-400: 400;
  --fw-heading-500: 500;
  --fw-text-300: 300;
  --fw-text-400: 400;
  --fw-text-500: 500;
  --fs-400: 4rem;
  --fs-300: 3rem;
  --fs-250: 2rem;
  --fs-200: 1.6rem;
  --fs-150: 1.4rem;
  --fs-100: 1.2rem;
  --color-primary: #A99985;
  --color-secondary: #70798C;
  --color-neutral: #DAD2BC;
  --color-background: #F5F1ED;
  --color-text: #696363;
  --color-accent: #B3B5BD;
  --border-200: .8rem;
  --border-300: 1rem;
  --spacer-80: .8rem;
  --spacer-100: 1rem;
  --spacer-150: 1.5rem;
  --spacer-200: 2rem;
  --spacer-300: 3rem;
  --spacer-400: 4rem;
  --spacer-500: 5rem;
  --spacer-600: 6rem;
}

:root.dark {
  --color-primary: #85E7C0;
  --color-secondary: #C0CCD8;
  --color-neutral: #1B3933;
  --color-background: #35605A;
  --color-text: #D8E4FF;
  --color-accent: #AFE6E0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

main {
  background: var(--color-neutral);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.caption {
  display: grid;
  place-content: center;
}
.caption-heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-400);
  font-weight: var(--fw-heading-500);
  color: var(--color-primary);
  text-align: center;
}

.theme {
  --_gap: 4rem;
  --_timer: 1s;
  display: flex;
  align-items: center;
  gap: var(--spacer-200);
}
.theme-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.theme-icon__light {
  color: var(--color-primary);
}
.theme-icon__dark {
  color: var(--color-text);
}
.theme-box {
  height: 4rem;
  width: 8rem;
  background-color: var(--color-background);
  border-radius: 100rem;
  border: 2px solid var(--color-accent);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--_timer);
}
.theme-check {
  appearance: none;
}
.theme-check:checked ~ .theme-checkbox {
  left: calc(100% - var(--_gap));
}
.theme-checkbox {
  position: absolute;
  left: 0;
  background: var(--color-primary);
  height: var(--_gap);
  width: var(--_gap);
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.2);
  transition: all var(--_timer);
}

.account {
  text-align: center;
}
.account-heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-300);
  font-weight: var(--fw-heading-400);
  color: var(--color-secondary);
}
.account-text {
  font-family: var(--ff-text);
  font-size: var(--fs-200);
  font-weight: var(--fw-text-400);
  color: var(--color-accent);
}

.login {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-150);
}
.login-icon_box {
  display: flex;
  justify-content: center;
  gap: var(--spacer-150);
}
.login-icon {
  display: block;
  font-size: var(--fs-300);
  color: var(--color-background);
  cursor: pointer;
  transform: scale(1);
  transition: all 0.8s;
}
.login-icon:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}
.login-text {
  font-family: var(--ff-text);
  font-size: var(--fs-250);
  color: var(--color-text);
  position: relative;
}
.login-text::before, .login-text::after {
  content: " ";
  display: block;
  width: 50%;
  height: 0.2rem;
  background: currentColor;
  position: absolute;
}
.login-text::before {
  top: 50%;
  left: 0;
  transform: translate(-110%, 50%);
}
.login-text::after {
  top: 50%;
  left: 0;
  transform: translate(210%, 50%);
}

.form-input_box {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-150);
}
.form-input__label {
  font-family: var(--ff-heading);
  font-size: var(--fs-200);
  color: var(--color-text);
}
.form-input {
  display: block;
  margin-top: var(--spacer-80);
  padding: var(--spacer-80) var(--spacer-600) var(--spacer-80) var(--spacer-150);
  border: none;
  border-radius: var(--border-200);
  background: var(--color-background);
  font-family: var(--ff-text);
  font-size: var(--fs-200);
  color: var(--color-primary);
}
.form-input::placeholder {
  color: var(--color-primary);
}
.form-input:focus-within {
  outline: 2px solid var(--color-primary);
}
.form-btn {
  width: 100%;
  border: none;
  background: var(--color-secondary);
  font-family: var(--ff-heading);
  font-size: var(--fs-200);
  color: var(--color-background);
  padding-block: var(--spacer-150);
  border-radius: var(--border-200);
  cursor: pointer;
  transition: all 0.8s;
}
.form-btn:hover {
  background: var(--color-primary);
}

.user {
  margin-block: var(--spacer-150) var(--spacer-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacer-200);
}
.user-info {
  display: flex;
  gap: var(--spacer-80);
}
.user-info__text {
  font-family: var(--ff-text);
  font-size: var(--fs-100);
  color: var(--color-text);
}
.user-info__check {
  cursor: pointer;
}
.user-link:link, .user-link:visited {
  text-decoration: none;
  font-size: var(--fs-100);
  color: var(--color-text);
  transition: all 0.5s;
}
.user-link:hover, .user-link:active {
  color: var(--color-secondary);
}
.user-link__text {
  font-family: var(--ff-text);
  font-size: var(--fs-100);
}

.wrapper {
  background: var(--color-background);
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-300);
  box-shadow: 4.5rem 4rem 4rem rgba(0, 0, 0, 0.15);
}

.caption {
  width: 30%;
}

.details {
  width: 65%;
  height: 95%;
  background: var(--color-neutral);
  border-radius: var(--border-300);
  display: grid;
  grid-template-columns: 6rem auto 6rem;
  grid-template-rows: 10rem 12rem 8rem 1fr;
  justify-items: center;
  align-items: center;
}

.theme {
  grid-column: 2/3;
  grid-row: 1/2;
}

.account {
  grid-column: 2/3;
  grid-row: 2/3;
}

.login {
  grid-column: 2/3;
  grid-row: 3/4;
}

.form {
  grid-column: 2/3;
  grid-row: 4/-1;
}

/*# sourceMappingURL=styles.css.map */
