:root, 
:root.light {
	--ff-heading: "Rubik", sans-serif;
	--ff-text: "Roboto Sans", sans-serif;

	--fw-heading-400: 400;
	--fw-heading-500: 500;
	--fw-text-300: 300;
	--fw-text-400: 400;
	--fw-text-500: 500;

	--fs-400: 4rem;
	--fs-300: 3rem;
	--fs-250: 2rem;
	--fs-200: 1.6rem;
	--fs-150: 1.4rem;
	--fs-100: 1.2rem;

	--color-primary: #A99985;
	--color-secondary: #70798C;
	--color-neutral: #DAD2BC;
	--color-background: #F5F1ED;
	--color-text: #696363;
	--color-accent: #B3B5BD;

	--border-200: .8rem;
	--border-300: 1rem;

	--spacer-80: .8rem;
	--spacer-100: 1rem;
	--spacer-150: 1.5rem;
	--spacer-200: 2rem;
	--spacer-300: 3rem;
	--spacer-400: 4rem;
	--spacer-500: 5rem;
	--spacer-600: 6rem;
}

:root.dark {
	--color-primary: #85E7C0;
	--color-secondary: #C0CCD8;
	--color-neutral: #1B3933;
	--color-background: #35605A;
	--color-text: #D8E4FF;
	--color-accent: #AFE6E0;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

main {
	background: var(--color-neutral);
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}
