:root, 
:root.light {
	--ff-heading: "Rubik", sans-serif;
	--ff-text: "Roboto Sans", sans-serif;

	--fw-heading-400: 400;
	--fw-heading-500: 500;
	--fw-text-300: 300;
	--fw-text-400: 400;
	--fw-text-500: 500;

	--fs-400: 4rem;
	--fs-300: 3rem;
	--fs-250: 2rem;
	--fs-200: 1.6rem;
	--fs-150: 1.4rem;
	--fs-100: 1.2rem;

	--color-primary: #517664;
	--color-secondary: #767B91;
	--color-neutral: #D6E5E3;
	--color-background: #CACFD6;
	--color-text: #2D3319;
	--color-accent: #606E80;

	--border-200: .8rem;
	--border-300: 1rem;

	--spacer-80: .8rem;
	--spacer-100: 1rem;
	--spacer-150: 1.5rem;
	--spacer-200: 2rem;
	--spacer-300: 3rem;
	--spacer-400: 4rem;
	--spacer-500: 5rem;
	--spacer-600: 6rem;
}

:root.dark {
	--color-primary: #1C3738;
	--color-secondary: #8BAAAD;
	--color-neutral: #4D4847;
	--color-background: #000F08;
	--color-accent: #C1292E;
	--color-text: #F4FFF8;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

main {
	background: var(--color-background);
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}
